{%  load static  %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Audiowide" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" type="text/css" href="{% static 'footballnews/main.css' %}">
    <style>
      #ld{
        font-family: "Audiowide", sans-serif;
        font-size: 30px;
      }
    </style>
    {% if title %}
        <title>News - {{title}}</title>
    {% else %}
	<title>News</title>
    {% endif %}
</head>
<body>
  <header class="site-header">
    <nav class="navbar navbar-expand-md navbar-light bg-info fixed-top">
      <a class="navbar-brand" href="{% url 'footballnews-home' %}">
        <img src="https://www.iconspng.com/images/square-twitter-icon.jpg" width="50" height="50" >
      </a>
      <div class="container">
        <a class="navbar-brand mr-4 " id = "ld"  href="{% url 'footballnews-home' %}">Football News</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
          <div class="navbar-nav mr-auto">
            <a class="nav-item nav-link" href="{% url 'footballnews-home' %}">Home</a>
            <a class="nav-item nav-link" href="{% url 'footballnews-information' %}">Info</a>
            <a class="nav-item nav-link" href="{% url 'footballnews-bigclubs' %}">Big Clubs</a>
          </div>

          <div class="navbar-nav">
            {% if user.is_authenticated %}
            <a class="nav-item nav-link" href="{% url 'logout'%}">Logout</a>
            <a class="nav-item nav-link" href="{% url 'profile'%}">Profile</a>
            <a class="nav-item nav-link" href="{% url 'post-create'%}">New Post</a>
            {% else%}
            <a class="nav-item nav-link" href="{% url 'login'%}">Login</a>
            <a class="nav-item nav-link" href="{% url 'register'%}">Register</a>
            {% endif %}
          </div>
        </div>
      </div>
    </nav>
  </header> 
  <main class="container" role ="main">
    <div class="row">
      <div class="col-md-8">
        {% if messages %}
          {% for message in messages %}
            <div class ="alert alert-{{ message.tags }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        {% block content %}{% endblock %}
      </div>
      <div class="col-md-4">
        <div class="content-section">
          <h3>Football Leagues</h3>
          <p class='text-muted'>Watch the top teams compete against each other
            <ul class="list-group">
              <button class="btn btn-outline-dark"  onclick="location.href='https://www.premierleague.com/home'">Premier League</button>
              <button class="btn btn-outline-dark" onclick="location.href='https://www.laliga.com/en-GB'">La Liga</li>
              <button class="btn btn-outline-dark" onclick="location.href='https://www.legaseriea.it/en'">Serie A</li>
              <button class="btn btn-outline-dark" onclick="location.href='https://www.bundesliga.com/en/bundesliga'">Bundesliga</li>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </main>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>