{% extends "footballnews/base.html "%}
{% block content %}
	<style>
body {
  background-color: black;
  font-family: cursive;
}

.glow {
  font-size: 50px;
  color: white;
  text-align: center;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px white, 0 0 20px black, 0 0 30px #696969, 0 0 40px #808080, 0 0 50px #A9A9A9, 0 0 60px #C0C0C0, 0 0 70px #C0C0C0;
  }
  
  to {
    text-shadow: 0 0 20px white, 0 0 30px #E5E5E5, 0 0 40px #E5E5E5, 0 0 50px #E5E5E5, 0 0 60px #E5E5E5, 0 0 70px #E5E5E5, 0 0 80px #E5E5E5;
  }
}

</style>
</head>
<body>

<h2 class="glow">Big Clubs</h2>
	  <div class="row">
	    <div class="col s12 m7">
	      <div class="card">
	        <div class="card-image">
	          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/0/0c/Liverpool_FC.svg/270px-Liverpool_FC.svg.png" width="100" height ="130">
	          <span class="card-title" style="font: 40px Georgia, serif;">Liverpool F.C.</span>
	        </div>
	        <div class="card-content">
	          <p>Liverpool Football Club is a professional football club in Liverpool, England, that competes in the Premier League, the top tier of English football. Domestically, the club has won nineteen League titles, seven FA Cups, a record eight League Cups and fifteen FA Community Shields. In international competitions, the club has won six European Cups, more than any other English club, three UEFA Cups, four UEFA Super Cups (also English records) and one FIFA Club World Cup.</p>
	        </div>
	        <div class="card-action">
	          <a href="https://www.liverpoolfc.com/">More About LFC</a>
	        </div>
	      </div>
	    </div>
	  </div>
	  <br>
	  <div class="row">
	    <div class="col s12 m7">
	      <div class="card">
	        <div class="card-image">
	          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/7/7a/Manchester_United_FC_crest.svg/270px-Manchester_United_FC_crest.svg.png" width="105" height ="110">
	          <span class="card-title" style="font: 40px Georgia, serif;">Manchester United F.C.</span>
	        </div>
	        <div class="card-content">
	          <p>Manchester United Football Club is a professional football club based in Old Trafford, Greater Manchester, England, that competes in the Premier League, the top flight of English football. Nicknamed "the Red Devils", the club was founded as Newton Heath LYR Football Club in 1878, changed its name to Manchester United in 1902 and moved to its current stadium, Old Trafford, in 1910.</p>
	        </div>
	        <div class="card-action">
	          <a href="https://www.manutd.com/">More About MUFC</a>
	        </div>
	      </div>
	    </div>
	  </div>
	  <br>
	  <div class="row">
	    <div class="col s12 m7">
	      <div class="card">
	        <div class="card-image">
	          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/e/eb/Manchester_City_FC_badge.svg/270px-Manchester_City_FC_badge.svg.png" width="105" height ="105">
	          <span class="card-title" style="font: 40px Georgia, serif;">Manchester City F.C.</span>
	        </div>
	        <div class="card-content">
	          <p>Manchester City Football Club is an English football club based in Manchester that competes in the Premier League, the top flight of English football. Founded in 1880 as St. Mark's (West Gorton), it became Ardwick Association Football Club in 1887 and Manchester City in 1894. The club's home ground is the Etihad Stadium in east Manchester, to which it moved in 2003, having played at Maine Road since 1923. The club adopted their sky blue home shirts in 1894 in the first season of the club's current iteration, that have been used ever since.</p>
	        </div>
	        <div class="card-action">
	          <a href="https://www.mancity.com/">More About MCI</a>
	        </div>
	      </div>
	    </div>
	  </div>
	  <br>
	  <div class="row">
	    <div class="col s12 m7">
	      <div class="card">
	        <div class="card-image">
	          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/c/cc/Chelsea_FC.svg/270px-Chelsea_FC.svg.png" width="105" height ="105">
	          <span class="card-title" style="font: 40px Georgia, serif;">Chelsea F.C.</span>
	        </div>
	        <div class="card-content">
	          <p>Chelsea Football Club is an English professional football club based in Fulham, London. Founded in 1905, the club competes in the Premier League, the top division of English football. Chelsea are among England's most successful clubs, having won over thirty competitive honours, including six league titles and six European trophies. Their home ground is Stamford Bridge.</p>
	        </div>
	        <div class="card-action">
	          <a href="https://www.chelseafc.com/en">More About CFC</a>
	        </div>
	      </div>
	    </div>
	  </div>
	  <br>
	  <div class="row">
	    <div class="col s12 m7">
	      <div class="card">
	        <div class="card-image">
	          <img src="https://img-9gag-fun.9cache.com/photo/6625780_460s.jpg" width="105" height ="105">
	          <span class="card-title" style="font: 40px Georgia, serif;">Arsenal F.C.</span>
	        </div>
	        <div class="card-content">
	          <p>I Wanted To Make A Meme. But This Club Is Already A Joke.</p>
	        </div>
	        <div class="card-action">
	          <a href="https://dailycannon.com/static/uploads/2021/03/arsenal-meme-2-e1615898366356.jpg">More About AFTV</a>
	        </div>
	      </div>
	    </div>
	  </div>
	  <br>
	  <div class="row">
	    <div class="col s12 m7">
	      <div class="card">
	        <div class="card-image">
	          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/5/56/Real_Madrid_CF.svg/195px-Real_Madrid_CF.svg.png" width="90" height ="115">
	          <span class="card-title" style="font: 40px Georgia, serif;">Real Madrid CF</span>
	        </div>
	        <div class="card-content">
	          <p>Real Madrid, is a Spanish professional football club based in Madrid.
Founded on 6 March 1902 as Madrid Football Club, the club has traditionally worn a white home kit since inception. The word real is Spanish for "royal" and was bestowed to the club by King Alfonso XIII in 1920 together with the royal crown in the emblem. The team has played its home matches in the 81,044-capacity Santiago Bernabéu Stadium in downtown Madrid since 1947.</p>
	        </div>
	        <div class="card-action">
	          <a href="https://www.realmadrid.com/en">More About RMD</a>
	        </div>
	      </div>
	    </div>
	  </div>
	  <br>
	  <div class="row">
	    <div class="col s12 m7">
	      <div class="card">
	        <div class="card-image">
	          <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/47/FC_Barcelona_%28crest%29.svg/270px-FC_Barcelona_%28crest%29.svg.png" width="100" height ="100">
	          <span class="card-title" style="font: 40px Georgia, serif;">FC Barcelona</span>
	        </div>
	        <div class="card-content">
	          <p>Futbol Club Barcelona commonly referred to as Barcelona and colloquially known as Barça, is a Spanish professional football club based in Barcelona, that competes in La Liga, the top flight of Spanish football.Founded in 1899 by a group of Swiss, Spanish, English, and Catalan footballers led by Joan Gamper, the club has become a symbol of Catalan culture and Catalanism, hence the motto "Més que un club" ("More than a club"). Unlike many other football clubs, the supporters own and operate Barcelona. It is the fourth-most valuable sports team in the world, worth $4.06 billion, and the world's richest football club in terms of revenue, with an annual turnover of €840.8 million.</p>
	        </div>
	        <div class="card-action">
	          <a href="https://www.fcbarcelona.com/en/">More About FCB</a>
	        </div>
	      </div>
	    </div>
	  </div>
	  <br>
	  <div class="row">
	    <div class="col s12 m7">
	      <div class="card">
	        <div class="card-image">
	          <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1b/FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg/270px-FC_Bayern_M%C3%BCnchen_logo_%282017%29.svg.png" width="100" height ="100">
	          <span class="card-title" style="font: 40px Georgia, serif;">FC Bayern Munich</span>
	        </div>
	        <div class="card-content">
	          <p>Fußball-Club Bayern München e. V., commonly known as FC Bayern München, FCB, Bayern Munich, or FC Bayern, is a German professional sports club based in Munich, Bavaria. It is best known for its professional football team, which plays in the Bundesliga, the top tier of the German football league system. Bayern is the most successful club in German football history, having won a record 30 national titles, including eight consecutively since 2013, and 20 national cups, along with numerous European honours.</p>
	        </div>
	        <div class="card-action">
	          <a href="https://fcbayern.com/en">More About BAY</a>
	        </div>
	      </div>
	    </div>
	  </div>
{% endblock content %}